 <h3>Bonjour</h3>

    <p>Pour réinitialiser le mot de passe associé à votre Compte, cliquez sur le lien ci-dessous :</p>

    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

    <p>Ce lien expirera dans {{ tokenLifetime|date('g') }} heure.</p>


