{% extends 'base.html.twig' %} {% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">

        <h1>Salles disponibles ({{ count }}/{{ total }})</h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a type="button" class="btn btn-primary" href="{{ path('room.add') }}">Ajouter une salle</a>
        {% endif %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Capacity</th>
                <th scope="col">Category</th>
                <th scope="col">Disponibilité</th>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <th scope="col">Actions</th>
                {% endif %}
                <th scope="col">Création</th>
                <th scope="col">Modification</th>
            </tr>
            </thead>
            <tbody>
            {% for room in rooms %}
                <tr>
                    <td>{{ room.id }}</td>
                    <td>{{ room.name }}</td>
                    <td>{{ room.city }}</td>
                    <td>{{ room.description | length > 100 ? room.description | slice(0,60) ~ '...' : room.description }}</td>
                    <td>{{ room.isAvailable }}</td>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <td>
                            <a class="btn btn-primary" href="{{ path('room.edit', {id:room.id}) }}">Editer</a>
                            <form method="post" action="{{ path('room.delete', {id:room.id}) }}"
                                  style="display: inline-block" onsubmit="return confirm('confimer la suppression ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete'~room.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    {% endif %}
                    <td>{{ room.createdAt }}</td>
                    <td>{{ room.updateAt }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
