{% extends 'base.html.twig' %} {% block body %}

    {% block title %}  {% endblock %}


    <div class="container mt-5">
        <h1>Ajouter une salle</h1>

        {{ include('room/_form.html.twig') }}

    </div>


{% endblock %}
